To start with Machine learning,we need to be good with basic concepts of python.
So let's start from scratch.

In [1]:
# let's have some integer values in our variables
a = 22
b = 12
c = 15
d = 18 
e = 56
# print function simply print the value given in the variable
print(a)
print(b)
print(c)
print(d)
print(d)
print(e)
print()
# end = "" tells that we want to print the next output within the same line and whatever(':' in this case) we want between the intergers is written between the " "
# As you can see in example below a and a value is printed together due to end = ":"
print(a,end=":")
print(a,b,c,end=",")
print(d,end=":::")

22
12
15
18
18
56

22:22 12 15,18:::

In [45]:
# we can have string in the variable which is written with double quotes
a = "Nasreen"
# we can have complex values as a string
b = "3+2j"
# we can have float values as a string
c = "20.555"
d = "13.99"
e = "17"
# here type returns the type of the variable(string,float,int etc)
print("Nasreen",type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

Nasreen <class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [23]:
# let's start with operators
a = 50
b = 40
print("a+b=",a+b)
print("a-b=",a-b)
print("aXb=",a*b)
print("a/b=",a/b)
print("a//b(floor function)=",a//b)
print("a**b=",a**b)
print("a%b(remainder)=",a%b)

a+b= 90
a-b= 10
aXb= 2000
a/b= 1.25
a//b(floor function)= 1
a**b= 90949470177292823791503906250000000000000000000000000000000000000000
a%b(remainder)= 10

In [6]:
# Concatenated strings
a = "ABC"
b = "abc"
c = "It is a very rainy day"
d = a+b
print(d)
print(a,end= "+")
print(b)
print(a,b,c)
print(a  ,end = ",")
print(b  ,end = ",")
print(c)
print(a+   ","   +b+   ","  +c)
print(type(a))

ABCabc
ABC+abc
ABC abc It is a very rainy day
ABC,abc,It is a very rainy day
ABC,abc,It is a very rainy day
<class 'str'>

In [46]:
# even if we are putting integer as the value,it will be taken as string
L = "2"
print(type(L))

<class 'str'>

In [7]:
var = "abc"
# .upper() is used to get the uppercase and .lower() is used to get the lowercase
print(var.upper())
print(var)


print("winter".upper())
print(var.lower())
# isalpha checks if there is alphabet in the variable and therefore returns True
g = "daj34"
print(g.isalpha())
num ="fgh"
print(num.isalpha())

ABC
abc
WINTER
abc
False
True

In [74]:
a = "  ab c def  "
# strip is used to remove the space if there is any in front and end of the string
print(a.strip())
c = a.strip()
print("a.split()=",c)
print(a)

# isdigit checks if there are only digits in the variable
print("123".isdigit())
e = '123abc'
print(e.isdigit())

ab c def
a.split()= ab c def
  ab c def

True
False

In [7]:
# Taking the input from the user
print("Enter your name :")
# int is used to convert the input taken into the integer
a = int(input())
print(type(a))

Enter your name :
2
<class 'int'>

In [11]:
print("Enter your dog name" ,end = ":")
a = float(input())
print(type(a))

Enter your dog name:45.6
<class 'float'>

In [15]:
print("Enter an integer" ,end =":")
b = int(input())
print(type(b))

Enter an integer:23
<class 'int'>

In [24]:
print("Enter an integer" ,end =":")
c = str(input())
print(type(c))

Enetr an integer:23
<class 'str'>

In [48]:
# Slicing
a = "I need money"
# len(a) returns the length of a
print(len(a))
# indexing starts from zero.So,slicing from 0 to 6 return the alphabets from 0 to 5th position counting space as well
print(a[0:6])
print(a[ :5 ])
# Negative indexing starts from right side and it starts from -1,not 0,including the last number given(-7 in this case)
print(a[-7 :-2])

12
I need
I nee
d mon

In [50]:
# concatenate two strings
a = "bonu"
a = a + "piku"
a

'bonupiku'

In [1]:
# tuple can ave different types of elements 
a = ("monkey","1.9","1,2,3")
print(a)
print(type(a))

('monkey', '1.9', '1,2,3')
<class 'tuple'>

In [57]:
a = '  1  2 367'
print(type(a))

<class 'str'>

In [16]:
# boolean type
a = True
b = False
print(type(a))
print(type(b))
c = 2
d = 20
print(c>d)
print(c<=d)
print(c==d)
print(c!=d)
print(True and False)
print(True or True)
print(False or False)

<class 'bool'>
<class 'bool'>
False
True
False
True
False
True
False

In [19]:
a = 20
b = 30
if a<b :
    print("Yes")
elif a==b :
    print("Good")
else :
    print("Done")

Yes

In [2]:
# working of a simple while loop
n = int(input())
i =2
while i>=n :
     print("Greater")
     i = i-1

-8
Greater
Greater
Greater
Greater
Greater
Greater
Greater
Greater
Greater
Greater
Greater

In [5]:
# if and while loops
n = int(input())
i = int(input())
print("n=" ,n,"i=",i)

it will run till the while condition becomes false(when i>n)
if n>i :
    while n >=i :
        print("All ok!")
        n = n-1
        
elif n ==i:
    print("All are equal")
else:
    while i>n :
        print("All not ok!")
        i = i-1

5
1
n= 5 i= 1
All ok!
All ok!
All ok!
All ok!
All ok!

In [8]:
# Range function
# 0 is start,15 is the ned of the range and 2 is the gap 
for i in range(0,15,2):
    print(i,end="-->")

0-->2-->4-->6-->8-->10-->12-->14-->

In [10]:
# we can also use range and it will return the same output as while loop
i = 1
j = 10
while i<=j :
    print(i,end=",")
    i = i+1
print()
print("While Loop Done")
print()
# Note that range only prints the value 1 lesser than the last value given(11 in this case,that's why it prints only till 10)
for i in range(1,11) :
    print(i,end=",")
print()
print("For loop done")

1,2,3,4,5,6,7,8,9,10,
While Loop Done

1,2,3,4,5,6,7,8,9,10,
For loop done

In [25]:
s ="abcdefg"
# b represents each number of element in a
for b in s:
    print(b,end=" ")
print()
d = "1234578"
for i in d :
    print(i)

a b c d e f g
1
2
3
4
5
7
8

In [15]:

# Writing sum function to add two integers
def sum(a,b) :
    z = a+b
    return z
y = sum(40,20),sum(10,20)
print(y)
print(sum(30,50))
print(sum(40,10))
x = sum(20,50)
print(x)

(60, 30)
80
50
70

In [45]:
def dosum(a=10,b=16,c=44):
    return a+b+c
print(dosum(10,20))
print(dosum())
# we can change the values of b and c
print(dosum(b=23,c=22))

74
70
55

In [51]:
# more is used when there are so many numbers,so everything after a and b will be taken in more
def sum_variable(a,b,*more):
    print(type(more))
    print(more)
    return 2
x = sum_variable(10,20,30,40,50,60,70)

<class 'tuple'>
(30, 40, 50, 60, 70)